h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}

h2, h3 {
    margin-top: 10px;
    font-weight: 400;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #CA580F;
    background-color: #1D1818;
}

#pause-play-button, #nav-links, #intro-content, #further-information, #bottom-content, #footer {
    margin-top: 20px;
    border: 2px solid #CA580F;
    background-color: #1D1818;
    padding-bottom: 20px;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#pause-play-button {
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #CA580F;
    border-radius: 15px;
    outline: none;
    padding: 10px;
}

#heading {
    margin-top: 20px;
    padding-bottom: 20px;
}

#logo img {
    width: 100px;
    margin-left: 15%;
}

#heading h1 {
    color: #CA580F;
    -webkit-text-fill-color: #CA580F;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#header2 {
    margin-left: 10%;
}
#header3 {
    margin-left: 20%;
}

#nav button {
    margin-top: 17px;
    margin-left: -10px;
    height: 40px;
    border-radius: 12px;
    width: 60px;
    outline: none;
}

#pc-nav-button {
    background-color: black;
    border: 2px solid white;
    color: white;
}

#pc-nav-button:active {
    background-color: white;
    border: 2px solid black;
    color: black;
}

#xbox-nav-button {
    background-color: black;
    border: 2px solid #107C10;
    color: #107C10;
}

#xbox-nav-button:active {
    background-color: #107C10;
    border: 2px solid black;
    color: black;
}

#playstation-nav-button {
    font-size: 0.55rem;
    background-color: #003791;
    border: 2px solid #ffffff;
    color: #ffffff;
}

#playstation-nav-button:active {
    background-color: #ffffff;
    border: 2px solid #003791;
    color: #003791;
}

#switch-nav-button {
    font-size: 0.8rem;
    background-color: #e60012;
    border: 2px solid #00c3e3;
    color: white;
}

#switch-nav-button:active {
    background-color: #e60012;
    border: 2px solid white;
    color: #00c3e3;
}

#bottom-content {
    justify-content: space-around;
}

#whats-new, #top-picks, #important-news {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border: 1px solid #CA580F;
}

#bottom-content img {
    margin-bottom: 10px;
}

#footer, #footer h3 {
    margin-top: 20px;
    font-size: 0.8rem;
}

@media only screen and (min-width: 500px) {
    #logo img {
        width: 125px;
    }
    #nav button {
        width: 100px;
    }
    #nav button {
        font-size: 1rem;
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) {
    #logo img {
        width: 150px;
    }
    #header {
        padding-left: 100px;
        margin-top: -30px;
    }
    #header h1 {
        font-size: 3rem;
    }
    #nav button {
        width: 150px;
        font-size: 1.5rem;
        margin-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    #logo img {
        width: 200px;
    }
    #header {
        padding-left: 0px;
    }
    #nav button {
        width: 200px;
        margin-left: 0;
    }
}